In [25]:
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from matplotlib import cm
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
dir(stats)
import csv

#from matplotlib import rcParams
#rcParams['text.usetex'] = True
#rcParams['text.latex.preamble'] = r'\usepackage{amsmath}'

from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures

In [26]:
#Função de leitura dos dados------------------------------------
def pd_data(path):
    with open(path, newline='') as f:
        reader = csv.reader(f,delimiter=',')
        next(reader, None)  # ignora o cabeçalho
        for row in reader:
            try:
                data = np.vstack( (data , np.asarray(row).astype(np.float) ) )
            except:
                data = np.asarray(row).astype(np.float)
    f.close()
    return data

In [27]:
path = 'Campos_correl_tele.csv'

df = pd.read_csv(path)

In [28]:
#df= df.drop(df.columns[0], axis = 1)

In [29]:
df.head()

   Tele_N  Focos_N  Tele_S  Focos_S  Tele_M  Focos_M  Tele_H  Focos_H
0     129        1      41        1      13        1      28        4
1     118        3      36        0      16        0      40        8
2     129        0      33        3      24        0      37        2
3      89        3      23        1      18        2      91        7
4      71        0      27        0      23        2     111       13

In [30]:
df.info

<bound method DataFrame.info of     Tele_N  Focos_N  Tele_S  Focos_S  Tele_M  Focos_M  Tele_H  Focos_H
0      129        1      41        1      13        1      28        4
1      118        3      36        0      16        0      40        8
2      129        0      33        3      24        0      37        2
3       89        3      23        1      18        2      91        7
4       71        0      27        0      23        2     111       13
5       73        4      21        0      20        2     134       10
6       54        2      16        2      12        0     190       36
7       51        0      18        3      16        5     185       43
8       59        2      22        5      15        4     163       55
9      123        2      40        3      28        1      79       15
10     129        1      43        0      34        2      33        2
11     141        0      29        0      14        0      27        1>

In [31]:
df.corr(method = 'pearson', min_periods=1)

,Tele_N,Focos_N,Tele_S,Focos_S,Tele_M,Focos_M,Tele_H,Focos_H
Tele_N,1.000000,-0.204056,0.854709,-0.346990,0.346061,-0.622028,-0.963370,-0.797509
Focos_N,-0.204056,1.000000,-0.157736,-0.117579,-0.103413,-0.060871,0.186040,0.032730
Tele_S,0.854709,-0.157736,1.000000,-0.256765,0.547477,-0.391811,-0.848614,-0.634608
Focos_S,-0.346990,-0.117579,-0.256765,1.000000,-0.125646,0.417499,0.467149,0.730327
Tele_M,0.346061,-0.103413,0.547477,-0.125646,1.000000,0.017486,-0.336483,-0.380337
Focos_M,-0.622028,-0.060871,-0.391811,0.417499,0.017486,1.000000,0.583855,0.643578
Tele_H,-0.963370,0.186040,-0.848614,0.467149,-0.336483,0.583855,1.000000,0.859153
Focos_H,-0.797509,0.032730,-0.634608,0.730327,-0.380337,0.643578,0.859153,1.000000

In [32]:
#Correlação e p valor de Área

corr_df = pd.DataFrame(columns=['r','p'])
for col in df:
    r,p = stats.pearsonr(df.Tele_S , df[col])
    corr_df.loc[col] = (round(r,4)),(round(p,4))

corr_df

              r       p
Tele_N   0.8547  0.0004
Focos_N -0.1577  0.6244
Tele_S   1.0000  0.0000
Focos_S -0.2568  0.4205
Tele_M   0.5475  0.0654
Focos_M -0.3918  0.2078
Tele_H  -0.8486  0.0005
Focos_H -0.6346  0.0266

In [33]:


path = 'Campos_correl_angs.csv'

df = pd.read_csv(path)

In [34]:
df.head()

   ANGS_NR  FOCOS_NR  ANGS_R  FOCOS_R
0      101         0     146        7
1       86         0     152       11
2      132         1     120        4
3      156         6      95        9
4      218         9      50        6

In [35]:
df.corr(method = 'pearson', min_periods=1)

           ANGS_NR  FOCOS_NR    ANGS_R   FOCOS_R
ANGS_NR   1.000000  0.773436 -0.927208 -0.126812
FOCOS_NR  0.773436  1.000000 -0.574335  0.408108
ANGS_R   -0.927208 -0.574335  1.000000  0.406847
FOCOS_R  -0.126812  0.408108  0.406847  1.000000

In [37]:
corr_df = pd.DataFrame(columns=['r','p'])
for col in df:
    r,p = stats.pearsonr(df.ANGS_NR, df[col])
    corr_df.loc[col] = (round(r,4)),(round(p,4))

corr_df

               r       p
ANGS_NR   1.0000  0.0000
FOCOS_NR  0.7734  0.0032
ANGS_R   -0.9272  0.0000
FOCOS_R  -0.1268  0.6945

In [38]:
path = 'Campos_correl.csv'

df = pd.read_csv(path)

In [39]:
df.head()

,FMA_N,Focos_N,FMA_P,Focos_P,FMA_M,Focos_M,FMA_A,Focos_A,FMA_MA,Focos_MA
0,0,38,0,36,2,70,2,48,3,18
1,0,29,0,29,1,60,1,66,8,22
2,0,36,0,43,3,75,2,65,0,5
3,0,10,0,17,0,39,5,69,7,72
4,0,9,0,12,0,33,1,63,14,116

In [40]:
df.corr(method = 'pearson', min_periods=1)

,FMA_N,Focos_N,FMA_P,Focos_P,FMA_M,Focos_M,FMA_A,Focos_A,FMA_MA,Focos_MA
FMA_N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Focos_N,NaN,1.000000,-0.219553,0.970470,0.784305,0.917292,-0.194186,0.325471,-0.698602,-0.880068
FMA_P,NaN,-0.219553,1.000000,-0.239798,-0.244677,-0.203337,-0.027639,0.301893,-0.074253,0.135294
Focos_P,NaN,0.970470,-0.239798,1.000000,0.723328,0.942866,-0.183128,0.386418,-0.757883,-0.913990
FMA_M,NaN,0.784305,-0.244677,0.723328,1.000000,0.597276,-0.074390,0.020212,-0.298019,-0.535992
Focos_M,NaN,0.917292,-0.203337,0.942866,0.597276,1.000000,-0.201155,0.501305,-0.833073,-0.957742
FMA_A,NaN,-0.194186,-0.027639,-0.183128,-0.074390,-0.201155,1.000000,0.152063,0.336255,0.295270
Focos_A,NaN,0.325471,0.301893,0.386418,0.020212,0.501305,0.152063,1.000000,-0.689638,-0.572382
FMA_MA,NaN,-0.698602,-0.074253,-0.757883,-0.298019,-0.833073,0.336255,-0.689638,1.000000,0.906046
Focos_MA,NaN,-0.880068,0.135294,-0.913990,-0.535992,-0.957742,0.295270,-0.572382,0.906046,1.000000

In [41]:
corr_df = pd.DataFrame(columns=['r','p'])
for col in df:
    r,p = stats.pearsonr(df.FMA_P, df[col])
    corr_df.loc[col] = (round(r,4)),(round(p,4))

corr_df

C:\Users\cheil\anaconda3\lib\site-packages\scipy\stats\stats.py:4023: PearsonRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(PearsonRConstantInputWarning())

               r       p
FMA_N        NaN     NaN
Focos_N  -0.2196  0.4929
FMA_P     1.0000  0.0000
Focos_P  -0.2398  0.4528
FMA_M    -0.2447  0.4434
Focos_M  -0.2033  0.5262
FMA_A    -0.0276  0.9321
Focos_A   0.3019  0.3403
FMA_MA   -0.0743  0.8186
Focos_MA  0.1353  0.6750